/* animation ------  */
@keyframes left{
    from{
        margin-left: -10%;
    }
    to{
        margin-left: 0%;
    }
}
@keyframes leftdown{
    from{
        margin-left: -10%;
        margin-top: 3%;
    }
    to{
        margin-left: 0%;
        margin-top: 0%;
    }
}
@keyframes right{
    from{
        margin-left: 10%;
    }
    to{
        margin-left: 0%;
    }
}
@keyframes top{
    from{
        margin-top: -10%;
    }
    to{
        margin-top: 0%;
    }
}
/* style protfolio  ----------*/
main{
    display: grid;
    grid-template-columns: 25% 75%;
}

.style{
    visibility: visible;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 210px;
    height: 70px;
    width: 320px;
    background-color: rgb(22, 25, 40);
}

/* left sidebar */
.page-left{
    z-index: 1;
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: rgb(22, 25, 40);
}
.icon-style i{
    margin-top: 8%;
    animation: left 2s;
    font-size: 30px;
    color: rgb(217,216,211);
    padding: 3%;
}

.icon-style i:hover{ color: white; font-weight: bolder;}

.logo-page{
    width: 70%;
    animation: left 2s;
}

.my-name{
    animation: left 2s;
    color: rgb(217,216,211);
}

.list{
    animation: left 2s;
    line-height: 100%;
    padding: 13%;
    margin: 0 auto;
}

.list a:hover{ color: white;font-weight: bolder;}

.list-pc{
    display: block;
    padding: 4%;
    font-size: larger;
    text-decoration: none;
    color: rgb(217,216,211);
}

.list-mobile{
    visibility: hidden;
}

.footer{
    margin: 7% auto;
    text-align: center;
    width: 80%;
    color: rgb(217,216,211);
    border-top: 1px solid rgba(217,216,211);
}

/* right page & contant ---- */
.page-right{
    position: absolute;
    right: 0;
    width: 75%;
    padding-top: 14%;
    background-color: rgb(217,216,211);
}

.home{
    display: flex;
    flex-direction: row;
}

.my-work{
    flex: 50%;
}

.home-page{
    flex: 50%;
    animation: right 2s 2ms;
    margin-top: 13%;
}

.my-photo{
    animation: leftdown 2s 2ms;
}

.home-page p{
    color: rgb(22, 25, 40);
    font-weight: 400;
}

.home-page h1{
    color: rgb(22, 25, 40);
    margin-bottom: 5%;
    font-size: 320%;
}

.content{
    margin-top: 20%;
    color: rgb(22, 25, 40);
}

.content  h2{
    font-size: 260%;
    display: inline-block;
    margin-bottom: 3%;
    margin-left: 1%;
    color: rgb(22, 25, 40);

}

.edu-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edu-photo img{
    width: 25%;
}

.fram-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.fram-box iframe{
    width: 100%;
    height: 18em;
}

.skills{
    margin-bottom: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20%;
}

.skills h2{
    padding-left: 5%;
}

ul li{
    list-style: none;
}

.icon{
    width: 40%;
    padding: 3%;
    margin: 0 auto;
    opacity: 0.1;
}

.icon img{
    padding: 3%;
    width: 22%;
}

.footer-mobile{
    visibility: hidden;
}

@media only screen and (max-width: 1300px){

    .style{
        visibility: hidden;
    }
    
}

/* page Responsive ---------- */ 
@media only screen and (max-width: 1034px){

    .style{
        visibility: hidden;
    }

    .icon-style i{
        margin-top: 0;
        font-size: 24px;
        padding: 1%;
    }

    .logo-page{
        display: none;
    }

    .footer{
        display: none;
    }

    .page-left{
        grid-column: 1 / 3;
        position: fixed;
        height: 22%;
        width: 100%;
    }

    .list{
        display: inline;
    }

    .list-pc{
        display: none;
        visibility: hidden;
    }

    .content{
        margin-top: 35%;
    }
    
    .list-mobile{
        color: rgb(217,216,211);
        visibility: visible;
    }

    .list-mobile button{
        color: rgb(217,216,211);
    }

    .footer{
        margin: 0 auto;
    }

    .page-right{
        grid-column: 1 / 3;
        position: relative;
        margin-top: 18%;
        width: 100%;
    }

    #home{
        flex-direction: column;
    }

    .home-page h1{
        font-size: 280%;
        text-shadow: 1px 1px rgba(22, 25, 40, 0.4);
    }

    .skills{
        flex-direction: column;
    }

    .footer-mobile{
        text-align: center;
        color: rgb(22, 25, 40);
        visibility: visible;
    }
    
}

@media only screen and (max-width: 500px){
    .content{
        margin-top: 45%;
    }

    .page-right{
        grid-column: 1 / 3;
        position: relative;
        margin-top: 30%;
        width: 100%;
    }

    .list{
        padding: 50%;
    }
    
    .list a{
        padding: 5%;
        font-size: large;
    }


    .home-page h1{
        font-size: 150%;
    }
}